@font-face {
    font-family: "Noto Sans";
    src: url("@assets/fonts/notosans.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("@assets/fonts/nunito.ttf");
}

@font-face {
    font-family: "Texturina";
    src: url("@assets/fonts/texturina.ttf");
}

:root {
    --ui-shade-1: #101216;
    --ui-shade-2: #17191e;
    --ui-shade-3: #1f2125;
    --ui-shade-4: #2c2f35;
    --ui-shade-5: #3b3e43;
    --ui-shade-6: #3e4349;
    --ui-shade-7: #50575f;
}

body {
    margin: 0;

    background-color: var(--ui-shade-1);
    background-image: url("/img/darkbackgroundboard.png");
    background-repeat: repeat;
}

* {
    font-family: "Noto Sans";
    overflow-wrap: anywhere;
}

.light-up {
    transition: filter 0.3s ease;
}

.light-up:hover {
    filter: brightness(1.2);
}