body {
    background-image: url("@assets/img/previewmap.png");
}

.wrapper {
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 30px 10px;
    width: 100%;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    width: min(700px, 100%);
}

.topSection {
    justify-content: space-between;
    gap: 0 15px;
    width: 100%;
    font-size: 1.4rem;
}

.profileMenu {
    padding-left: 7px;
}

@media (max-width: 550px) {    
    .topSection {
        justify-content: end;
    }

    .profileMenu {
        padding-left: 0;
    }

    .joinServer {
        display: none;
    }
}

.credit {
    width: min(700px, 100%);
}