body {
    background-image: url("@assets/img/previewmap.png");
    background-repeat: repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 80vh;
}

.typography {
    font-family: "Texturina";
    font-size: 5rem;
    color: white;

    -webkit-text-stroke: 2px black;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 15px;
    width: min(400px, 100%);
    height: min-content;
}

.title {
    font-family: "Redaction 10";
    font-size: 1.5rem;
}

.signInButton {
    font-size: 1.1rem;
    font-weight: 400;
}

.legalMessage {
    width: 100%;
    text-align: center;

    font-size: 0.7rem;
    color: #808080;
}

.credit {
    text-align: center;
    padding: 10px;
    width: min(400px, 100%);

    background-image: url("@assets/img/backgroundboard.png");
}