.wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text {
    transform: translateY(-10px);

    font-family: "Texturina";
    font-size: 5rem;
    color: white;

    -webkit-text-stroke: 2px black;
}

.image {
    height: 5rem;
}

@media (max-width: 500px) {
    .image {
        height: 3.5rem;
    }

    .text {
        font-size: 3.5rem;
    }
}