.application {
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: fixed;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.serverPanel {
    top: 0;
    right: 0;
}

.playerStats {
    top: 0;
    left: 0;
}

.deathModal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.kickModal {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}