.wrapper {
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.guiPanel {
    position: fixed;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.serverPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    top: 0;
    right: 0;
}

.playerHeadline {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.playerHud {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    top: 0;
    left: 0;
}

.deathModal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}