/* Panels */
.panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.serverPanel {
    gap: 0;
    top: 0;
    right: 0;
}

.playerlist {
    padding: 5px;
    max-height: 175px;
    background-color: rgba(54, 54, 54, 0.31);
    overflow-y: auto;
}

@media (max-height: 750px) {
    .playerlist {
        max-height: 100px;
    }
}

.playerStats {
    gap: 0;
    padding: 5px;
    width: 200px;
    top: 0;
    left: 0;
}

@media (max-width: 425px) {
    .playerStats {
        width: 125px;
    }
}

/* Buttons */
.recenterButton {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;

    width: 100%;
}

/* Modals */
.deathModal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.kickModal {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}