.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    text-align: center;
    padding: 7px;

    background-image: url("@assets/img/backgroundboard.png");
}