body {
    background-image: url("@assets/img/previewmap.png");
    background-repeat: repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 30px 10px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
    padding: 10px;
    min-width: min(500px, 100%);
}

.usernameEdit {
    padding: 2px;

    border-radius: 5px;

    cursor: pointer;
    transition-duration: 0.3s;
}

.usernameEdit:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.role {
    padding: 0 10px;

    border-radius: 10px;
    font-family: "Nunito";
    font-size: 0.9rem;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset;
}

.createdAt {
    font-size: 0.6rem;
    color: gray;
}