.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 0;
    box-sizing: border-box;
    width: min(100%, 800px);
}

.container > h1, h2, h3 {
    margin: 5px 0;
}

.title {
    text-align: center;
}