.profile {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;

    border-radius: 10px;

    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.profile:hover {
    background-color: rgba(0, 0, 0, 0.15);
}